<form (ngSubmit)="login()" #heroForm="ngForm">
    <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" required minlength="4" maxlength="18"
            [(ngModel)]="username" name="username" #uname="ngModel">
            <div *ngIf="uname.errors?.['minlength']" class="alert alert-danger">
                User Name should be at least 4 characters long.
            </div>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input appPasswordvalidator type="text" class="form-control" id="password" required [(ngModel)]="password" name="password"
            #pass="ngModel">
        <div *ngIf="pass.errors && !pass.pristine" class="alert alert-danger">
                Password is Invalid. <br> Please check that it's at least 8 characters long,
                contains a number, <br>
                contains a small letter, <br>
                contains a capital letter, <br>
                contains a special character.
                
        </div>
        
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
</form>